<!DOCTYPE html>
<html lang="ko" xmlns:th="https://thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate='~{layouts/layout1}'>

<th:block layout:fragment="css">
    <style th:inline="css">
        .content{
text-align:center;
margin:5% 10%;
}
table{
margin:0 15%;
width:70%;
border:1px solid;
border-radius:20px;
border-collapse:collapse;
text-align:center;
}
th,td{
border: 1px solid gray;
}
td{
padding: 20px;
}
    </style>
</th:block>

<th:block layout:fragment="script">
    <script th:inline="javascript">
        $(document).ready(function(){
            const errorMessage = [[${errorMessage}]];
            if(errorMessage){
                alert(errorMessage);
            }
        });
    </script>
</th:block>

<head>
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
</head>

<div layout:fragment="content">
    <div>
        <p>
            <a th:href="@{/myPage/myPage_main}" class="btn btn-primary me-2">My Main</a>
            <a th:href="@{/myPage/boardList}" class="btn btn-primary me-2">My List</a>
            <a th:href="@{/myPage/commentList}" class="btn btn-secondary me-2">My Comment</a>
        </p>
    </div>

    <div id="comments-list">
        <table>
            <tr>
                <th>no.</th>
                <th>게시글</th>
                <th>작성자</th>
                <th>내용</th>
                <th>작성날짜</th>
            </tr>
            <tr th:each="comment : ${commentList}">
                <td th:text="${comment.id}"></td>
                <td><a th:href="@{/board/{id}(id=${comment.board.id})}" th:text="${comment.board.boardTitle}"></a></td>
                <td th:text="${comment.getMemberName()}"></td>
                <td th:text="${comment.content}"></td>
                <td th:text="${#temporals.format(comment.regTime, 'yyyy-MM-dd')}"></td>
            </tr>
        </table>

        <div class="pagination">
            <ul>
                <li th:if="${boardPage.hasPrevious()}">
                    <a th:href="@{/board/list/(page=${boardPage.number - 1}, size=${boardPage.size})}">&laquo; 이전</a>
                </li>
                <li th:each="pageNumber : ${#numbers.sequence(0, boardPage.totalPages - 1)}" th:class="${boardPage.number == pageNumber} ? 'active'">
                    <a th:href="@{/board/list/(page=${pageNumber}, size=${boardPage.size})}" th:text="${pageNumber + 1}"></a>
                </li>
                <li th:if="${boardPage.hasNext()}">
                    <a th:href="@{/board/list/(page=${boardPage.number + 1}, size=${boardPage.size})}">다음 &raquo;</a>
                </li>
            </ul>
        </div>
    </div>
</div>
</html>
