<!DOCTYPE html>
<html lang="ko" xmlns:th="https://thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate='~{layouts/layout1}'>

<head>
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
    <script th:src="@{/js/notice/board_delete.js}"></script>
    <link th:href="@{/css/board/board_detail.css}" rel="stylesheet">
</head>



<div layout:fragment="content">
    <div class="container">
        <div id="detail">
            <div class="row">
                <div class="col-8">
                    <div class="row">
                        <div class="col">
                            <span th:text="${boardDTO.boardTitle}">제목</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <span th:text="${boardDTO.nickName}">작성자</span>
                            <span th:text="*{#temporals.format(boardDTO.regTime, 'yyyy-MM-dd HH:mm:ss')}">등록일자</span>
                        </div>
                    </div>
                </div>
                <div class="col" id="count">조회수 <span th:text="${boardDTO.count}"></span></div>
            </div>
            <div class="row">
                <div class="col" th:if="${boardDTO.fileName != null}">
                    <img th:src="@{|/images/${boardDTO.fileName}|}">
                </div>
            </div>
            <div class="row">
                <div class="col" th:text="${boardDTO.boardContent}">내용</div>
            </div>
        </div>

        <div class="button-container">
            <a href="/notice/list" class="btn btn-primary">목록</a>
            <!-- 관리자 조건일때 보이는 조건  -->
            <a th:href="@{/notice/update/{id}(id=${boardDTO.id})}" class="btn btn-secondary"
               th:if="${#authorization.expression('hasAuthority(''ROLE_ADMIN'')')}">수정</a>
            <button class="btn btn-danger board-delete"
                    th:if="${#authorization.expression('hasAuthority(''ROLE_ADMIN'')')}">삭제</button>
            <input type="hidden" th:value="${boardDTO.id}" id="boardId">
        </div>

        <input type="hidden" th:value="${boardDTO.id}">
    </div>
</div>



</html>
