<!DOCTYPE html>
<html lang="ko" xmlns:th="https://thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate='~{layouts/layout1}'>

<head>
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
    <script th:src="@{/js/notice/board_comment.js}"></script>
    <script th:src="@{/js/notice/board_delete.js}"></script>
</head>


    <div layout:fragment="content">
      <h1>공지사항</h1>
      <table>
        <tr>
          <th>id</th>
          <td th:text="${boardDTO.id}"></td>
        </tr>
        <tr>
          <th>title</th>
          <td th:text="${boardDTO.boardTitle}"></td>
        </tr>
        <tr>
          <th>writer</th>
          <td th:text="${boardDTO.nickName}"></td>
        </tr>
        <tr>
          <th>date</th>
          <td th:text="${boardDTO.regTime}"></td>
        </tr>
        <tr>
          <th>contents</th>
          <td th:text="${boardDTO.boardContent}"></td>
        </tr>
        <tr>
          <th>image</th>
          <td>
            <!-- Thymeleaf문법 사용하려면 | 안에서 입력해야됨 |  -->
            <img th:src="@{|/images/${boardDTO.fileName}|}" alt="사진">
          </td>
        </tr>
      </table>
      <a href="/board/list" class="btn btn-primary">목록</a>

      <!-- 관리자 조건일때 보이는 조건  -->
      <a th:href="@{/board/update/{id}(id=${boardDTO.id})}" class="btn btn-secondary"
      th:if="${#authorization.expression('hasAuthority(''ROLE_ADMIN'')')}">수정</a>
      <button class="btn btn-danger board-delete"
      th:if="${#authorization.expression('hasAuthority(''ROLE_ADMIN'')')}">삭제</button>

      <input type="hidden" th:value="${boardDTO.id}" id="boardId">
      
      


    </div>
</html>