<!doctype html>
<html lang="ko" xmlns:th="https://thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate='~{layouts/layout1}'>
<meta name="_csrf" th:content="${_csrf.token}"/>

<th:block layout:fragment="css">
    <style th:inline="css">
          .body{
            margin:0 10%;
          }
        .form-group{
        margin-bottom: 20px;
        }
        .social-text{
        font-weight:bold;
        border-radius:20px;
        margin-bottom: 20px;
        padding:10px;
        background:rgb(50, 50, 50);
        color:white;
        }
        .btn{
        margin:0 10px;
        }
        .a-img{
        height:25px;
         width:25px;
         margin: 10px 20px;
        }
    </style>
</th:block>

<th:block layout:fragment="script">
               <!--사용자 스크립트 추가-->
               <script th:inline="javascript">
                   $(document).ready(function(){
                       const errorMessage = [[${errorMessage}]];
                       if(errorMessage){
                           alert(errorMessage);
                       }
                   });
               </script>
</th:block>

           <!--로그인하기-->
           <div layout:fragment="content">
               <form action="/members/login" role="form" method="post">
<div class="body">
                   <div class="form-group">
                       <label th:for="memberEmail">Email Login</label>
                       <input type="email" class="form-control"
                              name="memberEmail" placeholder="이메일을 입력해주세요">
                   </div>

                   <div class="form-group">
                       <label th:for="memberPwd">Password</label>
                       <input type="password" id="memberPwd" class="form-control"
                              name="password" placeholder="비밀번호를 입력해주세요">
                   </div>

           <!-- 이미지 파일의 경우, 기본 출처의 루트를 uploadpath 로 설정을 해 두었기 때문에 pj/images 폴더에 이미지가 존재해야함.-->
                   <!--카카오 로그인-->
                   <div class="input-group md-3 social">
                       <span class="social-text">소셜 로그인</span>
                       <a href="/oauth2/authorization/kakao">
                           <img th:src="@{/images/kakao.png}" class="a-img" alt="Kakao">
                       </a>
           <!-- 네이버 로그인 -->
                       <a href="/oauth2/authorization/naver">
                           <img th:src="@{/images/naver_icon.png}" class="a-img" alt="Naver">
                       </a>
           <!-- 구글 로그인 -->
                       <a href="/oauth2/authorization/google">
                           <img th:src="@{/images/google_logo.png}" class="a-img" alt="Google">
                       </a>
                   </div>


                   <div>
                   <p th:if="${loginErrorMsg}"
                      th:text="${loginErrorMsg}" class="error">Error Message!</p>
                   <button class="btn btn-primary">로그인</button>
                   <button class="btn btn-primary"
                           onclick="location.href='/members/new'">회원가입</button>

                       <button class="btn" onclick="location.href='/members/changePassword'">
                           비밀번호 분실</button>
                   </div>
                </div>
               </form>
</div>
</html>