<!DOCTYPE html>
<html lang="ko" xmlns:th="https://thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate='~{layouts/layout1}'>


    <title>News Page</title>
    <th:block layout:fragment="css">
    <style>
        .news-box {
            float: left; /* 왼쪽 또는 오른쪽 정렬을 위해 float 사용 */
            width: 50%; /* 화면의 절반 크기 */
            padding: 10px;
            box-sizing: border-box;

        }
        .full-width {
            width: 100%; /* 전체 폭 사용 */
            clear: both; /* 이전 float 제거 */
        }
        .left {
            float: left; /* 왼쪽 정렬 */
        }
        .right {
            float: right; /* 오른쪽 정렬 */
        }
        .content{
            height: 1500px;
        }
        .past_page, .science_news{
            width: 500px;
            margin-left: 20px;

        }
        .news_page{
            width: 500px;
            margin-left: 270px;
        }
        .science, .news, .past{
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
        }
        .new-news, .past-news, .science-news{
            text-align: center;
        }
        .science p, .news p, .past p,
        .science h3, .news h3, .past h3{
            overflow: hidden;
            text-overflow: ellipsis;
        }
    </style>
</th:block>

<div layout:fragment="content">
    <div class="container">
        <div class="news-box right new-news full-width">
            <h2>New News</h2>
            <ul class="news_page">
                <li th:each="news : ${newNews}" class="news">
                    <a th:text="${news.birdysNewsTitle}" th:href="${news.birdysNewsSource}" style="text-decoration: none; font-size: 20px;"></a>
                    <p th:text="${news.birdysNewsContent}"></p>
                </li>
            </ul>
            <!-- New News 페이지 번호 표시 -->
            <div th:if="${newNews.totalPages > 1}">
                <ul class="pagination justify-content-center">
                    <!-- 처음으로 버튼 -->
                    <li th:class="${newNews.first ? 'disabled' : ''}" th:unless="${newNews.first}">
                        <a class="btn btn-primary btn-sm" th:href="@{'/members/news?page=0'}">처음으로</a>
                    </li>
                    <!-- 이전 버튼 -->
                    <li th:class="${newNews.hasPrevious() ? '' : 'disabled'}" th:unless="${newNews.first}">
                        <a class="btn btn-primary btn-sm" th:href="@{'/members/news?page=' + ${newNews.number - 1}}">이전</a>
                    </li>
                    <!-- 페이지 번호 -->
                    <li th:each="i : ${#numbers.sequence(0, newNews.totalPages - 1)}" th:class="${newNews.number == i ? 'active' : ''}">
                        <a class="btn btn-primary btn-sm" th:href="@{'/members/news?page=' + ${i+1}}">[[${i + 1}]]</a>
                    </li>
                    <!-- 다음 버튼 -->
                    <li th:class ="${newNews.hasNext() ? '' : 'disabled'}">
                        <a class="btn btn-primary btn-sm" th:if="${newNews.hasNext()}" th:href="@{'news?page=' + ${newNews.number + 1}}">다음</a>
                    </li>
                    <!-- 끝 버튼 -->
                    <li th:class="${newNews.last ? 'disabled' : ''}" th:unless="${newNews.last}">
                        <a class="btn btn-primary btn-sm" th:href="@{'/members/news?page=' + ${newNews.getTotalPages()}}">끝</a>
                    </li>
                </ul>
            </div>
        </div>

        <div class="news-box left past-news">
            <h2>Past News</h2>
            <ul class="past_page">
                <li th:each="news : ${pastNews}" class="past">
                    <a th:text="${news.birdysNewsTitle}" th:href="${news.birdysNewsSource}" style="text-decoration: none; font-size: 20px;"></a>
                    <p th:text="${news.birdysNewsContent}"></p>
                    <p th:text="${news.birdysNewsSource}"></p>
                </li>
            </ul>
            <!-- Past News 페이지 번호 표시 -->
            <div th:if="${pastNews.totalPages > 1}">
                <ul class="pagination justify-content-center">
                    <!-- 처음으로 버튼 -->
                    <li th:class="${pastNews.first ? 'disabled' : ''}" th:unless="${pastNews.first}">
                        <a class="btn btn-primary btn-sm" th:href="@{'/members/news?page=0'}">처음으로</a>
                    </li>
                    <!-- 이전 버튼 -->
                    <li th:class="${pastNews.hasPrevious() ? '' : 'disabled'}" th:unless="${pastNews.first}">
                        <a class="btn btn-primary btn-sm" th:href="@{'/members/news?page=' + ${pastNews.number - 1}}">이전</a>
                    </li>
                    <!-- 페이지 번호 -->
                    <li th:each="i : ${#numbers.sequence(0, pastNews.totalPages - 1)}" th:class="${pastNews.number == i ? 'active' : ''}">
                        <a class="btn btn-primary btn-sm" th:href="@{'/members/news?page=' + ${i+1}}">[[${i + 1}]]</a>
                    </li>
                    <!-- 다음 버튼 -->
                    <li th:class ="${pastNews.hasNext() ? '' : 'disabled'}">
                        <a class="btn btn-primary btn-sm" th:if="${pastNews.hasNext()}" th:href="@{'news?page=' + ${pastNews.number + 1}}">다음</a>
                    </li>
                    <!-- 끝 버튼 -->
                    <li th:class="${pastNews.last ? 'disabled' : ''}" th:unless="${pastNews.last}">
                        <a class="btn btn-primary btn-sm" th:href="@{'/members/news?page=' + ${pastNews.getTotalPages()}}">끝</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="news-box right science-news">
            <h2>Science News</h2>
            <ul class="science_news">
                <li th:each="science : ${scienceNews}" class="science">
                    <a th:text="${science.birdysScienceonTitle}" th:href="${science.birdysScienceonSource}" style="text-decoration: none; font-size: 20px;"></a>
                    <p th:text="${science.birdysScienceonContent}"></p>
                    <p th:text="${science.birdysScienceonSource}"></p>
                </li>
            </ul>
            <!-- science News 페이지 번호 표시 -->
            <div th:if="${scienceNews.totalPages > 1}">
                <ul class="pagination justify-content-center">
                    <!-- 처음으로 버튼 -->
                    <li th:class="${scienceNews.first ? 'disabled' : ''}" th:unless="${scienceNews.first}">
                        <a class="btn btn-primary btn-sm" th:href="@{'/members/news?page=0'}">처음으로</a>
                    </li>
                    <!-- 이전 버튼 -->
                    <li th:class="${scienceNews.hasPrevious() ? '' : 'disabled'}" th:unless="${scienceNews.first}">
                        <a class="btn btn-primary btn-sm" th:href="@{'/members/news?page=' + ${scienceNews.number - 1}}">이전</a>
                    </li>
                    <!-- 페이지 번호 -->
                    <li th:each="i : ${#numbers.sequence(0, scienceNews.totalPages - 1)}" th:class="${scienceNews.number == i ? 'active' : ''}">
                        <a class="btn btn-primary btn-sm" th:href="@{'/members/news?page=' + ${i+1}}">[[${i + 1}]]</a>
                    </li>
                    <!-- 다음 버튼 -->
                    <li th:class ="${scienceNews.hasNext() ? '' : 'disabled'}">
                        <a class="btn btn-primary btn-sm" th:if="${scienceNews.hasNext()}" th:href="@{'news?page=' + ${scienceNews.number + 1}}">다음</a>
                    </li>
                    <!-- 끝 버튼 -->
                    <li th:class="${scienceNews.last ? 'disabled' : ''}" th:unless="${scienceNews.last}">
                        <a class="btn btn-primary btn-sm" th:href="@{'/members/news?page=' + ${scienceNews.getTotalPages()}}">끝</a>
                    </li>
                </ul>
            </div>
        </div>
        </div>
    </div>
</div>


</html>

