<!DOCTYPE html>
<html lang="ko" xmlns:th="https://thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate='~{layouts/layout1}'>

<head>
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
    <script th:src="@{/js/board_comment.js}"></script>
    <script th:src="@{/js/board_delete.js}"></script>
</head>


    <div layout:fragment="content">
      <table>
        <tr>
          <th>id</th>
          <td th:text="${boardDTO.id}"></td>
        </tr>
        <tr>
          <th>title</th>
          <td th:text="${boardDTO.boardTitle}"></td>
        </tr>
        <tr>
          <th>writer</th>
          <td th:text="${boardDTO.nickName}"></td>
        </tr>
        <tr>
          <th>date</th>
          <td th:text="${boardDTO.regTime}"></td>
        </tr>
        <tr>
          <th>contents</th>
          <td th:text="${boardDTO.boardContent}"></td>
        </tr>
        <tr>
          <th>image</th>
          <td>
            <!-- Thymeleaf문법 사용하려면 | 안에서 입력해야됨 |  -->
            <img th:src="@{|/images/${boardDTO.fileName}|}" alt="사진">
          </td>
        </tr>
      </table>
      <a href="/board/list" class="btn btn-primary">목록</a>

      <!-- 회원이고 작성자가 보이는 조건 -->
      <a th:href="@{/board/update/{id}(id=${boardDTO.id})}" class="btn btn-secondary"
          th:if="${#authorization.expression('hasAuthority(''ROLE_MEMBER'')')
          and #authentication.principal.username == boardDTO.email}"
      >수정</a>
      <button class="btn btn-danger board-delete"
      th:if="${#authorization.expression('hasAuthority(''ROLE_MEMBER'')')
          and #authentication.principal.username == boardDTO.email}"
      >삭제</button>


      <!-- 관리자 조건일때 보이는 조건  -->
      <a th:href="@{/board/update/{id}(id=${boardDTO.id})}" class="btn btn-secondary"
      th:if="${#authorization.expression('hasAuthority(''ROLE_ADMIN'')')}">수정</a>
      <button class="btn btn-danger board-delete"
      th:if="${#authorization.expression('hasAuthority(''ROLE_ADMIN'')')}">삭제</button>

      <input type="hidden" th:value="${boardDTO.id}" id="boardId">
      
      <div class="card m-2" id="comments-new">
        
        <!-- 댓글 작성 폼 -->
        <form action="/board/comment/insert" method="POST" id="commentWrite"
              sec:authorize="hasAnyAuthority('ROLE_MEMBER','ROLE_ADMIN')">
            <div class="card-body">

                <div class="mb-3">
                    <label class="form-label">댓글 내용</label>
                    <textarea type="text" class="form-control form-control-sm" rows="3" id="new-comment-body comment"
                              name="comment"></textarea>
                </div>
                <input type="hidden" name="boardId" th:value="${boardDTO.id}">
                <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
                <button type="submit" class="btn btn-outline-primary btn-sm" id="comment-create-btn">댓글 작성</button>
            </div>
        </form>


        <div th:each="comment : ${commentDTOs}" id="comments-list">
          <div class="card m-2" th:id="'comments-' + ${comment.id}">
              <div class="card-header">
                  <span th:text="${comment.nickName}"></span>
                  <span th:text="${#temporals.format(comment.regTime, 'yyyy-MM-dd')}"></span>
                  <span>
              <button type="button" class="btn btn-primary comment-update-btn" data-bs-toggle="modal"
                      data-bs-target="#exampleModal"
                      th:if="${#authorization.expression('hasAuthority(''ROLE_MEMBER'')')
                               and #authentication.principal.username == comment.email}"
                      th:attr="data-comment-id=${comment.id}, data-comment-created-by=${comment.nickName},
                              data-comment-content=${comment.commentContents}"
              >
                               수정
                      </button>
                      <button type="button" class="btn btn-danger commentDelete"
                              th:attr="data-comment-id=${comment.id}"
                              th:if="${#authorization.expression('hasAuthority(''ROLE_MEMBER'')')
                              and #authentication.principal.username == comment.email}">삭제
                      </button>
  
                      <button type="button" class="btn btn-primary  comment-update-btn" data-bs-toggle="modal"
                              data-bs-target="#exampleModal"
                              th:if="${#authorization.expression('hasAuthority(''ROLE_ADMIN'')')}"
                              th:attr="data-comment-id=${comment.id},data-comment-created-by=${comment.nickName},
                              data-comment-content=${comment.commentContents}"
                      >수정
                      </button>
                      <button type="button" class="btn btn-danger commentDelete"
                              th:attr="data-comment-id=${comment.id}"
                              th:if="${#authorization.expression('hasAuthority(''ROLE_ADMIN'')')}">삭제
                      </button>
  
                  </span>
  
              </div>
              <div class="card-body" th:text="${comment.commentContents}"></div>
          </div>
        
      </div>
  

    <!-- 수정 모달~~~~ -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <form class="modal-dialog">
          <div class="modal-content">
              <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">사용자 이름</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                  <textarea id="comment-content"></textarea>
              </div>
              <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">닫기</button>
                  <button type="button" class="btn btn-primary" id="commentUpdate">수정</button>
              </div>
          </div>
          <input type="hidden" id="comment-id" name="commentId">
      </form>
  </div>







      </div>
      


    </div>
</html>