<!DOCTYPE html>
<html lang="ko" xmlns:th="https://thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate='~{layouts/layout1}'>

<head>
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
    <script th:src="@{/js/board_list.js}"></script>
</head>


    <div layout:fragment="content">
        <input type="text" placeholder="검색어를 입력하세요...">
        <button>검색</button>
        <button onclick="saveReq()">글작성</button>

        <table>
            <tr>
                <th>id</th>
                <th>title</th>
                <th>writer</th>
                <th>date</th>
                <th>hits</th>
            </tr>
            <tr th:each="board: ${boardList}">
                <td th:text="${board.id}"></td>
                <td th:text="${board.boardTitle}"></td>
                <td th:text="${board.nickName}"></td>
                <td th:text="*{#temporals.format(board.regTime, 'yyyy-MM-dd HH:mm:ss')}"></td>
                <td th:text="${board.count}"></td>
            </tr>
        </table>
    </div>
</html>