<!doctype html>
<html lang="ko" xmlns:th="https://thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate='~{layouts/layout1}'>
<th:block layout:fragment="css">
    <style th:inline="css">

        <!-- 사용자 css 추가 -->
        <style>
            .fieldError {
                color: #bd2130;
            }
    </style>
</th:block>
<th:block layout:fragment="script">
    <!--사용자 스크립트 추가-->
    <script th:inline="javascript">
        $(document).ready(function(){
            const errorMessage = [[${errorMessage}]];
            if(errorMessage){
                alert(errorMessage);
            }
        });


    const boardUpdate = () => {
      const pass = [[${boardUpdate.boardPass}]];
      const inputPass = document.getElementById("boardPass").value;
      if (pass == inputPass) {
        document.updateForm.submit();
      } else {
        alert("비밀번호가 일치하지 않습니다!");
      }
    }
    </script>
</th:block>
<div layout:fragment="content">
    <!--hidden:사용자화면에서 숨김-->
    <form action="/board/update" method="post" name="updateForm">

        <input type="hidden" name="id" th:value="${boardUpdate.id}">
        writer : <input type="text" name="adminBoardId" th:value="${boardUpdate.adminBoardId}" readonly> <br>
        password : <input type="text" name="boardPass" id="boardPass"> <br>
        <span style="color:orange;"><small>(비밀번호 확인 필수!)</small></span><br>
        title : <input type="text" name="boardTitle" th:value="${boardUpdate.boardTitle}"> <br>
        content :<br>
        <textarea name="boardContent" cols="30" rows="10" th:text="${boardUpdate.boardContent}"></textarea> <br>
        <input type="hidden" name="boardHits" th:value="${boardUpdate.boardHits}">

        <div th:if="${boardUpdate != null and boardUpdate.fileAttached == 1}">
            <div th:each="fileName: ${boardUpdate.storedFileName}">
                <img th:src="@{|/images/${fileName}|}" alt="사진">
            </div>
        </div>

        <input type="button" value="글수정" onclick="boardUpdate()">
    </form>

</div>
</html>