#title{
    margin-top: 40px;
}
#searchType{
    height: 45px;
    border-radius: 10px;
}
#searchKeyword{
    height: 45px;
    margin-left: 10px;
    border-radius: 10px;
}
#search{
    margin-top: 20px;
    margin-bottom: 20px;
}

.custom-th-width-1 {
    width: 5%;
}
.custom-th-width-2 {
    width: 40%;
}
.custom-th-width-3 {
    width: 10%;
}
.custom-th-width-4 {
    width: 10%;
}
.custom-th-width-5 {
    width: 10%;
}

#board{
    margin-left: 15%;
    width: 70%;
}

td{
    height: 20px;
}


/* 페이지 */
.pagination {
    display: flex; /* Use flexbox to arrange items horizontally */
    justify-content: center; /* Center align items horizontally */
    margin-top: 20px; /* Add margin if needed */
}

.pagination ul {
    padding: 0;
    list-style: none; /* Remove default list styles */
    display: flex;
}

.pagination li {
    margin: 0 5px; /* Adjust spacing between items */
}

.pagination a {
    display: block;
    padding: 8px 12px; /* Adjust padding to create clickable area */
    text-decoration: none;
    color: #333; /* Choose text color */
    border: 1px solid #ccc; /* Add border for buttons */
    border-radius: 3px; /* Optional: Rounded corners */
}

.pagination a:hover {
    background-color: #f0f0f0; /* Background color on hover */
}
