#title{
    margin-top: 40px;
}
#searchType{
    height: 45px;
    border-radius: 10px;
}
#searchKeyword{
    height: 45px;
    margin-left: 10px;
    border-radius: 10px;
}

#search{
    margin-top: 20px;
    margin-bottom: 20px;
}

.custom-th-width-1 {
    width: 5%;
}
.custom-th-width-2 {
    width: 40%;
}
.custom-th-width-3 {
    width: 10%;
}
.custom-th-width-4 {
    width: 10%;
}
.custom-th-width-5 {
    width: 10%;
}

#board{
    margin-left: 15%;
    width: 70%;
}

td{
    height: 20px;
}


/* 게시판에 있는 공지사항 색 표시 무슨색으로 할지 몰라서 이렇게 함 */
td.notice{
    background-color: red;
}

/* 페이지 */
.pagination {
    display: flex; 
    justify-content: center; 
    margin-top: 20px;
}

.pagination ul {
    padding: 0;
    list-style: none;
    display: flex;
}

.pagination li {
    margin: 0 5px; 
}

.pagination a {
    display: block;
    padding: 8px 12px;
    text-decoration: none;
    color: #333;
    border: 1px solid #ccc; 
    border-radius: 3px;
}

.pagination a:hover {
    background-color: #f0f0f0;
}
